.App {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.buttons-wrap {
  margin: 20px;
  display: flex;
  justify-content: center;
}

button {
  font-size: medium;
  border-radius: 15px;
  width: 10rem;
  border: none;
  background-color: royalblue;
  cursor: pointer;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;
  text-decoration: none;
}

button:hover {
  background-color: #e8f4f8;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}


.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: orange;
}

/* All tasks */
.all-tasks {
  margin: 0px 20px;
}

.header {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.action-button-wrap {
  display: flex;
  align-items: center;
  margin: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: left;
}

th {
  background-color: #F0F8FF;
}

td {
  background-color: #fafafa;
}
.delete-button {
  background-color: #ff4500;
  width: 3rem;
  padding: 3px;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.action-button-wrap {
  display: flex;
  align-items: center;
  margin: 5px;
}
.input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

form {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}
.edit-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 25%;
  border-radius: 15px;
  color: mediumblue
}